<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(~{::content})">
<div th:fragment="content">
    <h2>Payments</h2>
    <table>
        <tr>
            <th>Booking ID</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        <tr th:each="payment : ${payments}">
            <td th:text="${payment.bookingId}"></td>
            <td th:text="${payment.amount}"></td>
            <td th:text="${payment.status}"></td>
        </tr>
    </table>
</div>
</html>
